<?xml version="1.0" encoding="utf-8"?>
<!-- Distilled from device/xiaomi/certus (kelexine) for device/cubot/marlon. -->
<!-- Ported-by: kelexine (https://github.com/kelexine) -->
<!-- OPT-IN / DISABLED BY DEFAULT -- see Android.bp in this directory. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lineageos.cubot.overlay.mtkimstelephony"
    android:versionCode="1"
    android:versionName="1.0">
    <application
        android:hasCode="false"
        android:label="@string/overlay_name" />

    <overlay
        android:targetPackage="com.android.phone"
        android:isStatic="true"
        android:priority="1" />

</manifest>
