<?xml version="1.0" encoding="utf-8"?>
<!-- Distilled from device/xiaomi/certus (kelexine) for device/cubot/marlon. -->
<!-- Ported-by: kelexine (https://github.com/kelexine) -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lineageos.cubot.overlay.screenrecord"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:isStatic="true" android:targetPackage="com.android.systemui" android:priority="1" />

    <application android:label="@string/overlay_name" android:hasCode="false" />

</manifest>
